<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <title>Spring Boot and SAML</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        <script type="text/javascript">
            (function() {
              var walkme = document.createElement('script'); 
              walkme.type = 'text/javascript'; 
              walkme.async = true; 
              walkme.src = 'https://cdn.walkme.com/users/2ccbc6fbc3d1450a802d94881456a538/test/walkme_2ccbc6fbc3d1450a802d94881456a538_https.js'; 
              var s = document.getElementsByTagName('script')[0]; 
              s.parentNode.insertBefore(walkme, s); 
              console.log(s);
              window._walkmeConfig = {smartLoad:true}; 
            })();
            
          </script>
          
    </head>
    <body>
        <h1>Welcome to spring-boot-saml-sp3</h1>
        <p><span th:text="${message}"></span></p>
        <p>You are viewing the detail of the account number <span th:text="${accountnumber}".></span></p>
        <p>You are successfully signed in as <span sec:authentication="name"></span></p>
        <p>Your email address is <span th:text="${emailAddress}"></span>.</p>
        <p>Your authorities are <span sec:authentication="authorities"></span>.</p>
        <h2>All Your Attributes</h2>
        <dl th:each="userAttribute : ${userAttributes}">
            <dt th:text="${userAttribute.key}"></dt>
            <dd th:text="${userAttribute.value}"></dd>
        </dl>

        <form th:action="@{/logout}" method="post">
            <button id="signout" type="submit">Sign out</button>
        </form>
    </body>
</html>
