<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <title>Spring Boot and SAML</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        <script type="text/javascript">
            (function() {
              var walkme = document.createElement('script'); 
              walkme.type = 'text/javascript'; 
              walkme.async = true; 
              walkme.src = 'https://cdn.walkme.com/users/2ccbc6fbc3d1450a802d94881456a538/test/walkme_2ccbc6fbc3d1450a802d94881456a538_https.js'; 
              var s = document.getElementsByTagName('script')[0]; 
              s.parentNode.insertBefore(walkme, s); 
              console.log(s);
              window._walkmeConfig = {smartLoad:true}; 
            })();
            
          </script>
          
    </head>
    <body>
        <h1>Welcome to spring-boot-saml-sp3</h1>
        <p>You are successfully signed in as <span sec:authentication="name"></span></p>
        <p>Your email address is <span th:text="${emailAddress}"></span>.</p>
        <p>Your authorities are <span sec:authentication="authorities"></span>.</p>
        <h2>All Your Attributes</h2>
        <dl th:each="userAttribute : ${userAttributes}">
            <dt th:text="${userAttribute.key}"></dt>
            <dd th:text="${userAttribute.value}"></dd>
        </dl>

        <form th:action="@{/logout}" method="post">
            <button id="signout" type="submit">Sign out</button>
        </form>

        <h1>Links with pages in the app</h1>
        <p><a href="/check">/check: requires User Administrator role</a></p>
        <p><a href="/check2">/check2: requires authentication only</a></p>
        <p><a href="/check3">/check3: requires authentication only</a></p>
        <p><a href="/check4/123456">/check4/123456: requires authentication only</a></p>
        <p><a href="/check5?accountnumber=123456">/check5?accountnumber=123456: requires authentication only</a></p>
        <p><a href="/admin">/admin: requires User Administrator role</a></p>
        <p><a href="/apppmt">/apppmt: requires CADWAdmApprovePmt role</a></p>
        <p><a href="/viewpmt">/viewpmt: requires CADWAdmConsultPmt role</a></p>
        <p><a href="/fx">/fx: requires Foreign Exchange Transactions role</a></p>

        <h1>Links with pages of another app</h1>
        <p><a href="http://34.123.224.50:8080/check">http://34.123.224.50:8080/check: requires User Administrator role</a></p>
        <p><a href="http://34.123.224.50:8080/check2">http://34.123.224.50:8080/check2: requires authentication only</a></p>
        <p><a href="http://34.123.224.50:8080/check3">http://34.123.224.50:8080/check3: requires authentication only</a></p>
        <p><a href="http://34.123.224.50:8080/check4/123456">http://34.123.224.50:8080/check4/123456: requires authentication only</a></p>
        <p><a href="http://34.123.224.50:8080/check5?accountnumber=123456">http://34.123.224.50:8080/check5?accountnumber=123456: requires authentication only</a></p>
        <p><a href="http://34.123.224.50:8080/admin">http://34.123.224.50:8080/admin: requires User Administrator role</a></p>
        <p><a href="http://34.123.224.50:8080/apppmt">http://34.123.224.50:8080/apppmt: requires CADWAdmApprovePmt role</a></p>
        <p><a href="http://34.123.224.50:8080/viewpmt">http://34.123.224.50:8080/viewpmt: requires CADWAdmConsultPmt role</a></p>
        <p><a href="http://34.123.224.50:8080/fx">http://34.123.224.50:8080/fx: requires Foreign Exchange Transactions role</a></p>
    </body>
</html>
